@charset "UTF-8";
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --text-color: hsl(0, 0%, 7%);
  --accent-color: hsl(216, 61%, 54%);
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);
  --base-font-size: 13px;
  --small-font-size: 11.7px;
  --body-font-family: "Manrope", sans-serif;
  --headings-font-family: "Manrope", sans-serif;
  --h1-font-size: 1.2rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
}

@media screen and (min-width: 800px) {
  :root {
    --h1-font-size: 1.6rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: var(--light-grayish-blue);
  line-height: 1.6em;
  min-height: 100vh;
  min-width: 100vw;
  /* @mixin antialias */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* end @mixin antialias */
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.2em;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

thead {
  font-weight: bold;
  background: var(--grey300);
}
thead th {
  border-color: var(--grey500);
}

td,
th {
  padding: 0.5rem;
}

/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button {
  cursor: pointer;
}

.article-preview {
  background: white;
  margin: 0 2rem;
  border-radius: 1rem;
}
@media screen and (max-width: 799px) {
  .article-preview {
    /* mixin mq */
    overflow: hidden;
    /* end mixin mq */
  }
}
@media screen and (min-width: 800px) {
  .article-preview {
    /* mixin mq */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 730px;
    /* end mixin mq */
  }
}

@media screen and (min-width: 800px) {
  .article__img {
    /* mixin mq */
    grid-column-start: 1;
    grid-column-end: 3;
    /* end mixin mq */
  }
}

.article__text-container {
  padding: 2.5rem 2.5rem 1.5rem;
}
@media screen and (min-width: 800px) {
  .article__text-container {
    /* mixin mq */
    padding: 2.5rem 3rem 2.5rem 2.5rem;
    grid-column-start: 3;
    grid-column-end: -1;
    /* end mixin mq */
  }
}

.article__title {
  margin-top: 0;
  line-height: 1.4em;
}

.article__intro {
  margin-bottom: 1.5em;
}

/* ========================== § META === */
.article__meta {
  display: flex;
}

.article__avatar {
  margin-right: 1.2rem;
}
.article__avatar img {
  /* @mixin circle */
  width: 3rem;
  height: 3rem;
  border-radius: 1000px;
  /* end @mixin circle */
}

.article__author {
  font-weight: bold;
}

.article__date {
  color: var(--grayish-blue);
}

.article__share-container {
  margin-left: auto;
  position: relative;
  z-index: 10;
}

.article__icon {
  /* @mixin circle */
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1000px;
  /* end @mixin circle */
  /* @mixin center */
  display: flex;
  justify-content: center;
  align-items: center;
  /* end @mixin center */
  z-index: 100;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
  background: var(--light-grayish-blue);
  color: var(--desaturated-dark-blue);
}
@media screen and (min-width: 800px) {
  .article__icon {
    /* mixin mq */
    /* @mixin circle */
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1000px;
    /* end @mixin circle */
    /* end mixin mq */
  }
}
.article__icon:hover {
  color: white;
  background: var(--desaturated-dark-blue);
}

.tooltip {
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background: var(--very-dark-grayish-blue);
  color: var(--grayish-blue);
  letter-spacing: 0.5em;
  z-index: 0;
  transition: 0.1s ease-in-out;
}
.tooltip a {
  color: white;
  font-size: 150%;
  vertical-align: middle;
}
@media screen and (max-width: 799px) {
  .tooltip a {
    /* mixin mq */
    font-size: 250%;
    display: inline-block;
    margin: 0 0.5rem;
    /* end mixin mq */
  }
}
@media screen and (min-width: 800px) {
  .tooltip {
    /* mixin mq */
    position: absolute;
    top: -100%;
    width: max-content;
    transition: 0.2s cubic-bezier(0.59, 0.02, 0.61, 1.87);
    opacity: 0;
    transform: translateX(calc(-50% + 1.2rem));
    transform-origin: bottom center;
    pointer-events: none;
    /* end mixin mq */
  }
  .tooltip:after {
    content: "";
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: var(--very-dark-grayish-blue);
    border-width: 1rem;
    margin-left: -1rem;
  }
}
@media screen and (max-width: 799px) {
  .tooltip {
    /* mixin mq */
    position: absolute;
    bottom: -10rem;
    right: -2.5rem;
    width: calc(100vw - 4rem);
    height: 8rem;
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    z-index: -10;
    /* end mixin mq */
  }
}

@media screen and (max-width: 799px) {
  .tooltip.clicked {
    /* mixin mq */
    bottom: -2rem;
    /* end mixin mq */
  }
}
@media screen and (min-width: 800px) {
  .tooltip.clicked {
    /* mixin mq */
    opacity: 100%;
    top: -150%;
    pointer-events: initial;
    /* end mixin mq */
  }
}

/*# sourceMappingURL=main.css.map */
