@use "../index" as *;

.article-preview {
  background: white;
  margin: 0 2rem;
  @include mq($desktop-width, up) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 730px;
  }
}

.article__img {
  @include mq($desktop-width, up) {
    @include column-start-end(1, 3);
  }
}

.article__text-container {
  padding: 2.5rem;
  @include mq($desktop-width, up) {
    @include column-start-end(3, -1);
  }
}

.article__title {
  margin-top: 0;
  line-height: 1.4em;
}

.article__intro {
  margin-bottom: 1.5em;
}

/* ========================== § META === */
.article__meta {
  display: flex;
}

.article__avatar {
  img {
    @include circle(3rem);
  }
}
