@use "../index" as *;

.article-preview {
  background: white;
  margin: 0 2rem;
  border-radius: 1rem;
  display: grid;

  @include mq($desktop-width, down) {
    grid-template-rows: repeat(5, 1fr);
    overflow: hidden;
  }
  @include mq($desktop-width, up) {
    grid-template-columns: repeat(5, 1fr);
    max-width: 730px;
  }
}

.article__img {
  background: url(../../images/drawers.jpg) 50% 0 no-repeat;
  background-size: cover;
  @include mq($desktop-width, down) {
    @include row-start-end(1, 4);
  }
  @include mq($desktop-width, up) {
    @include column-start-end(1, 3);
    border-radius: 1rem 0 0 1rem;
  }
}

.article__text-container {
  padding: 2.5rem 2.5rem 1.5rem;

  @include mq($desktop-width, down) {
    @include row-start-end(4, -1);
  }
  @include mq($desktop-width, up) {
    padding: 2.5rem 3rem 2.5rem 2.5rem;
    @include column-start-end(3, -1);
  }
}

.article__title {
  margin-top: 0;
  line-height: 1.4em;
}

.article__intro {
  margin-bottom: 1.5em;
}

/* ========================== § META === */
.article__meta {
  display: flex;
}

.article__avatar {
  margin-right: 1.2rem;
  img {
    @include circle(3rem);
  }
}

.article__author {
  font-weight: bold;
}

.article__date {
  color: var(--grayish-blue);
}

.article__share-container {
  margin-left: auto;
  position: relative;
  z-index: 10;
}

.article__icon {
  @include circle(2.5rem);
  @include center(flex);
  z-index: 100;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
  background: var(--light-grayish-blue);
  color: var(--desaturated-dark-blue);

  @include mq($desktop-width, up) {
    @include circle(2.5rem);
  }
  &:hover {
    color: white;
    background: var(--desaturated-dark-blue);
  }
}

.tooltip {
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background: var(--very-dark-grayish-blue);
  color: var(--grayish-blue);
  letter-spacing: 0.5em;
  z-index: 0;
  transition: 0.1s ease-in-out;

  a {
    color: white;
    font-size: 150%;
    vertical-align: middle;

    @include mq($desktop-width, down) {
      font-size: 250%;
      display: inline-block;
      margin: 0 0.5rem;
    }
  }
  @include mq($desktop-width, up) {
    position: absolute;
    top: -100%;
    width: max-content;
    transition: 0.2s cubic-bezier(0.59, 0.02, 0.61, 1.87);
    opacity: 0;
    transform: translateX(calc(-50% + 1.2rem));
    transform-origin: bottom center;
    pointer-events: none;

    // arrow
    &:after {
      content: "";
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: var(--very-dark-grayish-blue);
      border-width: 1rem;
      margin-left: -1rem;
    }
  }

  @include mq($desktop-width, down) {
    position: absolute;
    bottom: -10rem;
    right: -2.5rem;
    width: calc(100vw - 4rem);
    height: 8rem;
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    z-index: -10;
  }
}

.tooltip.clicked {
  @include mq($desktop-width, down) {
    bottom: -2rem;
  }
  @include mq($desktop-width, up) {
    opacity: 100%;
    top: -150%;
    pointer-events: initial;
  }
}
